<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <title>Paper Stack</title>
        <link rel="stylesheet" type="text/css"/>
        </head>
        <body>
            <h1>Inicia sesión</h1>
            <section id="content" class="login">
                <div class="imgcontainer">
                  <img src="assets/img/logo-bank.png" alt="Avatar" class="avatar" width="70%">
                </div>
                
                <form  (ngSubmit)="onSubmit()" #LoginForm="ngForm">
                    <div>
                        <input type="text" placeholder="Escribe el usuario" [(ngModel)]="username" id="uname" name="uname" required>  
                    </div>
                    <div>
                        <input type="password" placeholder="Escribe la contraseña" [(ngModel)]="password" id="psw" name="psw" required>  
                    </div>
                    <div>
                        <input type="submit" value="Log in" class="btn-login"/>
                    </div>
                </form><!-- form -->
            </section><!-- content -->
        </body>
        </html>
