.tab-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 2%;
  align-items: center;
}

.customer-pic {
  width:40%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.customer-info {
  display: flex;
  flex-direction: column;
  width:50%;
  font-size:2.2vw;
  font-family: 'Gilda Display', serif;
  line-height: 2.8em;
  padding: 10px;
}

.comments {
  display:flex;
  width:100%;
  font-size:2.2vw;
  font-family: 'Gilda Display', serif;
  padding: 10px;

}

.list-item p {
  margin: 0px 0px;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
  padding: 5px;
}

input {
  width:50%;
  font-size:2.2vw;
  font-family: 'Gilda Display', serif;
  line-height: 1.6em;
  margin: 2px 2px; 
}

.list-accounts div{
  line-height: 1.6em;
  font-size:2.2vw;
  font-family: 'Gilda Display', serif;
}

.main-toolbar {
display: flex;
background: #e4333c;
padding: 3%;
}

.account-toolbar {
display:flex;
width: 100%;
background: #e4333c; 
}

.inicio {
margin: 15px 5px 0px 15px;
float: left;
font-size:5.0vw;
}

.main-toolbar .toolbar-item-left {
display: flex;
justify-content: left;
flex-grow: 6;
text-align: center;
color:white;
}

.main-toolbar .toolbar-item-right {
display: flex;
justify-content: right;
flex-grow: 1;
text-align: right;
color:white;
}

/*.guardar {
margin: 15px 5px 0px 15px;
float: right;  
width:20%;
display:block;
text-indent:-9999px;
background-repeat:no-repeat;
}*/


.fa:hover {
  color: black;
}

.fa {
  padding: 5%;
  cursor:pointer;
  margin:0% 25% 0 25%;
}

.sub-toolbar {
  display:inline-block;
  width: 100%;
}

.mat-tab-label {
  background-color: blue;
}

::ng-deep .mat-tab-label {
  background: #e4333c;
  width:200%; 
}

.mat-card {
  width:100%;
  margin: 10px 10px;
} 