.list-item {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2%;
    align-items: center;
  }
  
  .customer-info {
    display: flex;
    flex-direction: column;
    width:50%;
    font-size:2.2vw;
    font-family: 'Gilda Display', serif;
    line-height: 2.0em;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
  }
  
  .list-item p {
    margin: 2px 2px;
  }

  input {
    width:50%;
    font-size:2.2vw;
    font-family: 'Gilda Display', serif;
    line-height: 1.6em;
    margin: 2px 2px;
  }

  .main-toolbar {
    display: flex;
    background: #e4333c;
    padding: 3%;
  }

  .main-toolbar .toolbar-item-left {
    display: flex;
    justify-content: left;
    flex-grow: 6;
    text-align: center;
    color:white;
    }
    
    .main-toolbar .toolbar-item-right {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    text-align: right;
    color:white;
    }

.fa-long-arrow-left {
  cursor:pointer;
}
    
.fa-save {
  cursor:pointer;
}
    
.fa:hover {
  color: black;
}

.mat-form-field {
  width: 50%;
}

.mat-select {
 width: 50%;
}