.customer-card {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 2%;
  align-items: center;
  cursor: pointer;
}

.customer-pic {
    width: 20%;
    text-align:center;
}

.mat-card-image:first-child {
    margin: 0 0;
}

.customer-info {
    width:80%;
    display: flex;
    flex-direction: column;
    font-size:1.9;
    font-family: 'Gilda Display', serif;
    line-height: 1.9em;
}

.list-item p {
    margin: 0px 0px;
}

.avatar {
    border-radius: 50%;
    max-width: 60%;
}

.main-toolbar {
    display: flex;
    background: #e4333c;
    padding: 2%;
}

.main-toolbar .toolbar-item-left {
    display: flex;
    justify-content: left;
    flex-grow: 6;
    text-align: center;
    color:white;
}
    
.fa-user-plus {
    cursor:pointer;
  }
  
.fa-user-plus:hover {
    color: black;
}

/* For Tablets */
@media screen and (max-width: 1100px) {
    .avatar {
        width: 60%;
    }
}

@media screen and (max-width:415px) {
    .customer-card {
      flex-wrap: nowrap;
    }
  }

@media screen and (min-width: 1100px){
    .avatar {
        width: 30%;
    }

    .customer-card {
        padding:8px;
    }

    .customer-info {
        font-size:1.5;
        line-height: 1.5em;
    }

    .main-toolbar {
        height:25px;
    }
}