<div class="main-toolbar">
    <button type="button" class=" btn btn-primary " href="" (click)="insertarUsuario() ">Insertar usuario</button>
</div>
<div *ngIf="infolists">
    <div class="list-item" *ngFor="let infolist of infolists;" routerLink="/detalle/{{infolist.CUSTOMERID}}">
        <div class="customer-pic">
            <img src="data:image/png;base64,{{infolist.PHOTO}}" alt="Avatar" class="avatar" >
        </div>
        <div class="customer-info">
          <p>{{infolist.SURNAME}}, {{infolist.NAME}}</p>
          <p>{{infolist.EMAIL}}</p>
          <p>{{infolist.ADDRESS}}</p>
        </div>
    </div>
</div>